.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    color: var(--tetradic-three);
    text-align: center;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}

.footerLink {
    color: var(--tetradic-two);
    text-decoration: underline;
}

.footerLink:hover {
    color: var(--tetradic-three);
    transition: color 0.5s ease-in-out;
}