:root {
    --primary-color: #F5FF00;
    --primary-soft: #F9FF72;
    --primary-soft-two: #f5fe4b;
    --tetradic-one: #0A00FF;
    --tetradic-one-soft: #7872FF;
    --tetradic-two: #00FF89;
    --tetradic-two-soft: #76f7bb;
    --tetradic-three: #FF0076;
    --tetradic-three-soft: #f483b8;
}

[data-theme='dark'] {
    --primary-color: #1B0021;
    --primary-soft: #727271;
    --tetradic-one: #eaeaea;
    --tetradic-one-soft: #7872FF;
    --tetradic-two: #001621;
    --tetradic-two-soft: #76f7bb;
    --tetradic-three: #ffdbec;
    --tetradic-three-soft: #f483b8;
}

html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: var(--primary-soft-two);
    color: var(--tetradic-one);
    caret-color: transparent;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}


h1 {
    font-size: 3rem;
}

input {
    border-radius: 4px;
    width: 15rem;
    padding: 0.5rem;
    background-color: black;
    color: white;
    border: 1px solid white;
    caret-color: aliceblue;
}

form>button {
    border-radius: 4px;
    margin: 0.25rem 0;
    width: 8rem;
    background-color: black;
    border: 1px solid white;
    color: gray;
}

button {
    border-radius: 4px;
    margin: 0.25rem 0;
    width: 6rem;
    padding: 0.25rem;
    background-color: #76f7bb;
    border: 1px solid white;
    color: #f483b8;
    font-weight: 700;
}

button:hover {
    background-color: #00FF89;
    color: #FF0076;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}