html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #F5FF00;
    color: #0A00FF;
    caret-color: transparent;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}


h1 {
    font-size: 3rem;
}

input {
    border-radius: 4px;
    width: 15rem;
    padding: 0.5rem;
    background-color: black;
    color: white;
    border: 1px solid white;
    caret-color: aliceblue;
}

form>button {
    border-radius: 4px;
    margin: 0.25rem 0;
    width: 8rem;
    background-color: black;
    border: 1px solid white;
    color: gray;
}

button {
    border-radius: 4px;
    margin: 0.25rem 0;
    width: 6rem;
    padding: 0.25rem;
    background-color: #76f7bb;
    border: 1px solid white;
    color: #f483b8;
    font-weight: 700;
}

button:hover {
    background-color: #00FF89;
    color: #FF0076;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}