.homePage {
    display: grid;
    gap: 1rem;
    grid-template-areas:
        'intro'
        'info';

    @media (min-width: 768px) {
        grid-template-rows: 1fr 1fr;
    }
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 2rem;
}

.info {
    display: grid;
    margin: 0 2rem;
    grid-template-areas:
        'create'
        'donate';

    @media (min-width: 768px) {
        grid-template-areas: 'create donate';
    }

}

.create,
.donate {
    margin: 0.5rem auto;
    padding: 1rem;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 900px;
    min-width: 450px;
}

.create {
    grid-area: create;
}

.donate {
    grid-area: donate;
}