.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}

.connect {
    margin: 0 2.5rem;
}

.logo {
    margin: 0 2.5rem;

    @media (max-width: 767px) {
        font-size: 1rem;
    }

    @media (min-width: 768px) {
        font-size: 2.25rem;
    }
}